.github               export-ignore
tests                 export-ignore
phpunit.xml.dist      export-ignore
phpstan.dist.neon     export-ignore
phpstan-baseline.neon export-ignore
Makefile              export-ignore
